/* menu */
*{
    margin: 0;
    padding: 0;
}
header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
header .container {
    display: flex;
    justify-content: space-between;
}
.logo h1 {
    font-size: 50px;
    color:#777;
}
header .logo h2 {
    font-size: 18px;
    color: #aaa;

}
.logo {
    display: flex;
    align-items: center;
    margin: 15px;
}

.container1 {
    margin-top: 20px;
}

.colunas{
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
/*

/* section imagem do slide 1*/

div.img1 img {
    margin: 10px auto;
    height: 500px;
    display: flex;
}

/* section colunas produtos */

.container-produtos{
    display: flex;
    justify-content: space-between;
    margin: 53px;
}

.container-article{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #EEEEEE;
    width: 256px;
}

/* card 1*/
.img-card-1{
    width: 100%;
    height: 150px;
}

.between {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.between strong{
font-size: 20px;
}

.info p{
    padding: 0px 10px 10px 10px;
}

.tag{
    align-self: center;
    justify-content: center ;
    margin-top: - 5px;
    width: 56px;
    height: 21px;
    background: #51D275;
    border-radius: 10.5px;
    padding-left: 20px;
}

/* card 2*/
.img-card-1{
    width: 100%;
    height: 150px;
}

.between {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.between strong{
font-size: 20px;
}

.info p{
    padding: 0px 10px 10px 10px;
}

.tag{
    align-self: center;
    justify-content: center ;
    margin-top: - 5px;
    width: 56px;
    height: 21px;
    background: #51D275;
    border-radius: 10.5px;
    padding-left: 20px;
}

/* section seção Estilos */

.allstyles {
    margin-left: 350px;
    width: 100%;
    display: inline-block;
    padding-bottom: 30px;
}
.stylesh2 {
    font-family: 'Ropa Sans';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: #777;
    margin-left: 200px;
}

.ind {
    display: flex;
    width: 608px;
    height: 80px;
    margin-top: 20px;
    background-image: url(./img/industrial.png);
    background-size: 800px;
    opacity: 65%;
}

.ind h1 {
    display: flex;
    align-items: center;
    font-family: 'Ropa Sans';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: #ffffff;
    margin-left: 255px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.829);  
}

.mod {
    display: flex;
    width: 608px;
    height: 80px;
    margin-top: 20px;
    background-image: url(./img/moderno.png);
    background-size: 800px;
    opacity: 65%;
}

.mod h1 {
    display: flex;
    font-family: 'Ropa Sans';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: #ffffff;
    align-items: center;
    margin-left: 270px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.658);
}

.clas {
    display: flex;
    width: 608px;
    height: 80px;
    margin-top: 20px;
    background-image: url(./img/classico.png);
    background-size: 800px;
    opacity: 65%;
}

.clas h1 {
    display: flex;
    font-family: 'Ropa Sans';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: #ffffff;
    align-items: center;
    margin-left: 275px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.644);
}

/* section seção rodapé */
.footer{
    width: 100%;
    padding: 0px;
    background-color: #333333;
    justify-content: space-between;
}

div.footercoluna1{
    display: inline-block;
    width: 50%;
    height: 300px;
    margin: 30px 10px 30px 30px;
    padding: 30px;
}
div.footercoluna2{
    display: inline-block;
    width: 26%;
    height: 300px;
    margin: 30px 10px 10px 10px;
    padding: 30px;
    color: white;
}
