/* menu */
*{
    margin: 0;
    padding: 0;
}
header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
header .container {
    display: flex;
    justify-content: space-between;
}
.logo h1 {
    font-size: 50px;
    color:#777;
}
header .logo h2 {
    font-size: 18px;
    color: #aaa;

}
.logo {
    display: flex;
    align-items: center;
    margin: 15px;
}

.container1 {
    margin-top: 20px;
}

.colunas{
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
/*

/* section imagem do slide 1*/

div.img1 img{
    height: 500px;
    width: 80%;
    margin: 10px auto;
}

/* section colunas produtos */

.produtos{
    text-align: center;
    margin-bottom: 30px;
}


div.produtos img{
    width: 400px;
}

div.produtos{
    margin: 0px 0px 0px 0px;
    width: 400px;
    background-color: #DBDBDB;
    display: inline-block;
}

div.produtos h2{
    padding: 10px 0px 00px 10px;
}

div.produtos p{
    padding: 0px 0px 30px 10px;
} 

/* section seção Estilos */

section.yourstyle{
    margin: 10px auto;
    width: 800px;
} 

/* section seção rodapé */
.footer{
    width: 100%;
    padding: 0px;
    background-color: #333333;
    display: inline-block;
}

div.footercoluna1{
    display: inline-block;
    background-color:antiquewhite;
    width: 26%;
    height: 300px;
    margin: 30px 10px 30px 30px;
    padding: 30px;
}
div.footercoluna2{
    display: inline-block;
    background-color:antiquewhite;
    width: 26%;
    height: 300px;
    margin: 30px 10px 10px 10px;
    padding: 30px;
}
div.footercoluna3{
    display: inline-block;
    background-color:antiquewhite;
    width: 26%;
    height: 300px;
    margin: 30px 10px 10px 10px;
    padding: 30px;
} 

